<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
        <div id="nav-bar">
            <div class="nav-title">
                <h1 class="color-accent-3"><i class="fa-solid fa-tv-retro"></i> VideoLab</h1>
            </div>
            <div class="search-bar">
                <input type="search" id="site-search" name="q" aria-label="Search through site content"
                    placeholder="&#xF002; Search" style="font-family:Nunito, FontAwesome">
            </div>
            <div id="button-login"></div>
        </div>
        <div id="main">
            <div class="content">
                <div class="post bg-color-white">
                </div>
            </div>
            <div class="sidebar">
                <div class="widget bg-color-white">
                    <div class="widget-text">
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<script src="script.js"></script>
<script src="https://kit.fontawesome.com/311afd7444.js" crossorigin="anonymous"></script>
</body>
</html>